snippet header "python file header" b
# -*- coding: utf-8 -*-
"""
Author: `!v system("git config user.name | tr -d '\\n'")`
Email: `!v system("git config user.email | tr -d '\\n'")`
Created: `!v strftime("%Y-%m-%d %H:%M")`
Description: ${1:Description of the file/module}
"""

${0}
endsnippet
